// functions
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

$val-background: #00A885;
// fonts
.val-font {
    font-family: 'Circular Std';
}

.val-subFont {
    font-family: 'Lato';
}

.val-transparent-input {
    font-weight: 500;
    font-size: 23px;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    &::placeholder {
        color: rgba(255, 255, 255, 0.45);
    }
}

// inputs
.val-form-group {
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    &-label {
        position: absolute;
        left: 0px;
        top: 3px;
        z-index: 1;
        @extend .val-font;
        font-size: 23px;
        color: #5EC8B1;
    }
    &-input {
        position: absolute;
        left: 0px;
        margin: 0;
        height: 30px;
        border: none;
        background-color: transparent;
        box-sizing: border-box;
        z-index: 2;
        outline: none;
        @extend .val-font;
        font-size: 23px;
        transition: all 0.3s ease-in-out;
        color: white;
        &::-webkit-input-placeholder {
            color: #5EC8B1;
        }
    }
}

// general 
body {
    background-color: #00A885;
}

// anim
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

.goUp-enter-active,
.goUp-leave-active {
    transition: all .4s ease;
}

.goUp-enter,
.goUp-leave-to {
    bottom: -50px;
}